*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
a:visited {
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font-family: "Public Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

// Hide
.hide-for-mobile {
    @include breakpoint-down(meduim) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

// Containers

.nav-container {
    @include breakpoint-down(meduim) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.desktop-container {
    @include breakpoint-up(large) {
        padding: 0 160px;
    }
}

.mobile-container {
    @include breakpoint-down(meduim) {
        padding: 80px 25px;
    }
}

// Buttons
.btn {
    width: 160px;
    height: 45px;
    @include par(1rem, 400, $white);
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, $limeGreen, $birghtCyan);
    cursor: pointer;
    outline: none;
    transition: $tra;
    &:hover {
        opacity: 0.7;
    }
}
// Heading
.heading-tag {
    @include par(2.15rem, 400, $darkBlue);
    line-height: 1.3;
    text-align: center;
    @include breakpoint-up(large) {
        text-align: left;
        font-size: 2.3rem;
    }
}
